ntp-rate {
  .container {
    display: flex;

      label {
        text-align: center;
        width: 20px;
        height: 20px;

        span {
          position: absolute;
          border: 1px solid #222222;
          border-radius: 50%;
          font-size: 11px;
          padding-top: 2px;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }

        input[type="radio"] {
          visibility: hidden;

          &:checked + span {
            background-color: #f53d3d;
          }
        }
      }

  }


}
